<div class="container mx-auto justify-center h-16 flex w-1/2 mb-2">
  <div class="grid grid-cols-2 grid-flow-row w-full content-center">
    <div><%= image_tag'logo.png' %></div>
    <div class="flex justify-end items-center ">
      <%=link_to 'Home'%> |
      <%=link_to 'Quem somos'%> |
      <%=link_to 'Contato'%>
    </div>
  </div>
</div>
